@use "../abstract/variable" as var;

body{
    background-image: url(/public/local_images/240_F_728563463_hRwvBaUGcgeiVaZCeEV5B1x3ie2Gdwvd.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    
}
h1{
    text-align: center;
    font-family: "kablammo";
    font-size: 6rem;
    color: white;
    text-transform: uppercase;
    
}

#card_home{
   
    background-color: #eb7f7f9c;
    border: #eb7f7f solid 1px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    color: black;
    font-family: "india-flower";
    margin: 4rem;
    padding: 2rem;
    h2{
        text-transform: uppercase;
    }
    margin: 1rem;
    
    .pict{
       padding: 1rem;
    }
        img{
            border-radius: 10px;
            width: 200px;
            height: auto;
            
        }

}

.gallery{
    background-image: url(/public/local_images/240_F_894757749_JuJr5XGGf8Vxn6D8RaVN3xMsmWXubVBe.jpg);
    background-position: center;
    background-size: cover;
}

#formulaire{
    background-color: #eb7f7f98;
    font-family: "india-flower" ;
    display: inline-block;
    margin: 2rem;
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    
     
    
    

}