@font-face {
    font-family: "kablammo";
    src:url(../fonts/Kablammo/Kablammo-Regular-VariableFont_MORF.ttf);
}

@font-face {
    font-family: "india-flower";
    src:url(../fonts/Indie_Flower/IndieFlower-Regular.ttf);
}

@font-face {
    font-family: "imprima";
    src:url(../fonts/Imprima/Imprima-Regular.ttf);
}